/* main.css */

html, body {
  position: relative;
  margin: 0 auto;
}

#nav {
  position: absolute;
  right: 0;
  top : 0;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 999;
  background: #eee;
  padding: 10px;
}

#mapContainer {
  position: relative;
  display: none;
}

#tile-info {
  background: yellow;
  position: absolute;
  display: none;
  z-index: 999;
  font-size: 10px;
  padding: 10px;
}

.loading {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tile {
  position: absolute;
  background: #eee;
  /*
  box-shadow:
    inset 0 1px 0 #ccc,
    inset 1px 0 0 #ccc;
  */
  font-size: 8px;
  width: 20px;
  height: 20px;
  text-indent: -99999px;
}

.tile:hover {
  /*
  box-shadow:
    inset 0 3px 0 yellow,
    inset 3px 0 0 yellow,
    inset 0 -3px 0 yellow,
    inset -3px 0 0 yellow !important;
  */
}

#mapCanvas {
  border: 1px solid #d3d3d3;
  display: none;
}
